.cards_cover {
    width: 100vw;
    position: relative; 
    display: flex;
    position: relative;
}

.card {
    padding: 3vh 2vw;
    border: transparent 1.5px solid;
    min-height: 50vh;
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artists .title {
    margin-bottom: -5vh;
}

.gallery_cover {
    display: flex;
    gap: 30px;
    padding-top: 5vh;
    color: var(--green);
}

.gallery {
    font-size: 18px;
    color: var(--green);
}

.artist_name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3vh;
}

.artist_name, .gallery_cover {
    text-transform: uppercase;
}

.subtitle_text {
    display: flex;
    margin-top: 2vh;
}

.subtitle_title, .subtitle_text{
    opacity: 0.6;
    font-size: 16px;
    text-transform: none;
}

.artist_image {
    width: 100%;
    height: auto;
    margin-bottom: 3vh;
}


/* ======  HOVER EFFECTS ====== */


.gallery_cover:hover {
    padding-left: 10px;
}

.card:hover {
    transform: scale(1.02);
    padding: 3vh 2vw;
    border: var(--white) 1.5px solid;
    border-radius: 30px;
    box-shadow: 2px 2px 2px var(--light-green);
    z-index: 5;
    position: relative;
}