@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Monsieur+La+Doulaise&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patrick+Hand&family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Monsieur+La+Doulaise&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patrick+Hand&family=Questrial&family=Tangerine:wght@400;700&display=swap');

:root {
    --green: #82EE8D;
    --light-green: #B1FFB9;
    --black: #1C1C1C;
    --white: #E7E7E7;
    --main-font: 'Gilroy', sans-serif;
    --italian-font: 'Tangerine', cursive;
    --regular: 400;
    --medium: 16px;
    --semibold: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    list-style: none;
    /* border: 1px red solid; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    overflow-x: hidden;
    font-family: var(--main-font);
    color: var(--white);
    padding-top: 15vh;
}

body::-webkit-scrollbar {
    display: none;
}
  
main {
    width: 100vw;
    height: 100%;
}

a {
    color: inherit;
}

.title {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 44vw;
}

.transparent {
    color: transparent;
}

.italian {
    font-family: var(--italian-font);
    color: var(--light-green);
    text-transform: none;
}

.green {
    color: var(--green);
}

section + section {
    /* margin-top: 30vh; */
}
  
section {
    width: 100vw;
    height: 100vh;
    padding: 5vh 10vw;
    text-transform: uppercase;
    gap: 15vh;
    display: flex;
    flex-direction: column;
}    

input:hover, .custom-select:hover {
    padding-bottom: 20px;
    border-color: var(--green);
}

.tattoo-video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: opacity 0.4s ease;
  }
  
  .tattoo-video-overlay video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

.hero  .logo_convert {
    margin: -5vh -5vw;
    padding: 5vh 5vw;
}
  
  
.video-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1001;
}

.tattoo-video-overlay::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.813), #82ee8d5d);
    z-index: 2;
    pointer-events: none;
}
  
.video-caption .logo  {
    font-weight: 800;
    font-size: 64px;
}

.video-caption .subtitle {
    font-size: 62px;
    margin-top: 0.5rem;
    font-family: var(--italian-font);
    color: var(--light-green);
    text-transform: none;
}
  
.video-caption .logo_icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1366px) {
    .hero .title {
        font-size: 60px;
    } 

    .contact .title {
        font-size: 50px;
    }   

    .footer_link {
        font-size: 13px !important;
    }
    section + section {
        margin-top: 5vh;
    }
    section {
        padding: 10vh 5vw;
    }
}

@media (min-width: 1500px) {
    section + section {
        margin-top: -30vh; 
    }
    section {
        padding: 5vh 8vw; 
    }
    .hint {
        font-size: 14px !important;
    }
}

.scroll-fade {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .scroll-fade.visible {
    opacity: 1;
    transform: translateY(0);
  }
  

  #modal {
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
    display: none; justify-content: center; align-items: center;
    background: rgba(0, 0, 0, 0.817); z-index: 100;
    backdrop-filter: blur(3px);
}

#modal.visible { display: flex; }

#modal .modal-box {
    border-radius: 0 !important;
    background: var(--black) !important; 
    padding: 10vh 5vw !important;  
    text-align: center; 
    font-size: 32px;
    border-right: solid 1.5px var(--green);
    border-bottom: solid 1.5px var(--green);
}

#modal .modal-box button {
    background-color: inherit;
    margin-top: 5vh; padding: 8px 16px; cursor: pointer;
    border: none;
    color: var(--green);
    font-size: 18px;
}

#modal .modal-box button:hover {
    transform: translateY(5px);
}

section {
    width: 100vw;
    height: auto;
    padding: 5vh 10vw;
    text-transform: uppercase;
    gap: 10vh;
    display: flex;
    flex-direction: column;
}

