@media (max-width: 780px) {
  .nav_links,
  .phone,
  .tattoo-video-overlay, .cover_service_images {
    display: none;
  }

  .hero .title {
    font-size: 29px;
  }

  .hero {
    padding-top:5vh;
  }

  .start {
    text-align: start;
  }

  .end {
    text-align: start;
  }

  .center {
    text-align: start;
  }

  .hero_image img {
    position: relative;
    top: -10vh;
    z-index: 1;
    width: 100%;
    height: auto;
    opacity: 0.5;
    object-fit: contain;
  }

  .hero_link {
    font-size: 18px;
  }

  .about {
    margin-top: -100% ;
    height: fit-content;
  }

  .about .title, .services .title, .artists .title, .contact .title, .faq .title {
    font-size:32px;
  }

  .about_row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 5vh;
    z-index: 2000;
  }

  .about_icon {
    font-size: 150px;
  }

  .about_description, .about_title {
    max-width: 80%;
  }

  .service_image {
    visibility: hidden;
  }

  .services .grid-container {
    width: 100% !important;
  }
  
  .services .row {
    justify-content: space-between;
    width: 100%;
    padding: 5vh 4vw;
}
.services .row:hover {
  background-color: #131212;
    padding: 5vh 4vw 7vh 4vw;
}

/* PROBLEMMMMMMMMM */
.pricing {
    position: relative;
    top: 40px;
    left: -40vw;
}

.artists{
    margin-top: 0;
    height: fit-content;
}  

.artists .cards_cover {
  flex-direction: column;
}

.artists .card {
  margin-bottom: 5vh;
    padding: 5vh 4vw;
    min-height: fit-content;
    width: 80%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.621);
}

.artist_image {
  text-align: center;
  width: 70%;
}

.cards_cover:has(.card:hover) .card {
    filter: blur(0px) brightness(1);
}

.contact {
  height: fit-content !important;
  flex-direction: column;
  margin-bottom: 20vh;
}

.input_scope {
    margin-right: 0vw;
    width: 80%;
    max-width: 100%;
} 

.send_button {
    font-size: 24px;
}

.hint {
    font-size: 16px;
}


input {
    font-size: 20px;
}

input::placeholder{
  font-size: 20px;
}

.faq_container {
  flex-direction: column;
}

.right_container {
  display: none;
}

.left_container {
    width: 100%;
}

/* PROBLEMMMM */
.question:hover {
  padding-bottom: 10vh;
}  

.footer {
  height: fit-content;
  flex-direction: column;
  padding: 5vh 4vw;
    gap: 10vh;
    justify-content: start;
    align-items: start;
}

footer .logo{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}

footer .logo_convert{
  align-items: center;
}  
footer .logo_icon{
    height: 100%;
    width: 10vw;
}

.footer_link {
    font-size: 18px !important;
}

footer .subtitle {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 2vh;
}

.contact_icon {
   width: 50px;
}

}