
.about {
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/blurryback.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    z-index: 0;
}

.about::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 20%; 
    background: linear-gradient(to top, var(--black), transparent);
    z-index: 1;
    pointer-events: none;
}

.about .title  {
    align-self: start !important;
    backdrop-filter: blur(10px);
}

.about_title .italian {
    font-size: 30px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;

}

.about_row {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    gap: 10vw;
    align-items: center;
    padding: 2vh 5vw;
    backdrop-filter: blur(4px);
    border: 2px transparent solid;
}

   

.about_row {
    transition: all .3s !important;
}

.border-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    pointer-events: none;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3), -15px -15px 30px rgba(0, 0, 0, 0.2);

}

.border-path {
    stroke-dasharray: 0; 
    stroke-dashoffset: 0;
}
  

.about_icon {
    font-size: 220px;
    font-weight: 100 !important;
    color: var(--light-green);
    opacity: 0.2;
}

.about_description {
    font-size: 14px;
    opacity: 0.6;
    font-weight: 300;
    line-height: 22px;
    text-transform: none;
    max-width: 30vw;
    min-width: 20vw;
}

.about_title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 27px;
    min-width: 20vw;
}


/* ======  HOVER EFFECTS ====== */

.about_row:hover {
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3), -15px -15px 30px rgba(0, 0, 0, 0.2);
    border-right: 2px var(--green) solid;
    border-bottom: 2px var(--green) solid;
} 