.artists{
    margin-top: 40vh;
}

.cards_cover {
    /* gap: 2vw; */
    position: relative; 
    display: flex;
    position: relative;
    justify-content: center;
    width: fit-content;
}

.card {
    padding: 5vh 2vw;
    border: transparent 1.5px solid;
    min-height: 50vh;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artists .title {
    margin-bottom: -5vh;
}

.gallery_cover {
    display: flex;
    gap: 30px;
    padding-top: 5vh;
    color: var(--green);
}

.gallery {
    font-size: 18px;
    color: var(--green);
}

.artist_name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3vh;
}

.artist_name, .gallery_cover {
    text-transform: uppercase;
}

.subtitle_text {
    display: flex;
    margin-top: 2vh;
    opacity: 0.6;
    font-size: 14px !important;
    text-transform: none;
}

.subtitle_title {
    text-transform: none;
    font-size: 16px;
    color: var(--white) !important;
}

.artist_image {
    width: 100%;
    height: auto;
    margin-bottom: 3vh;
}


/* ======  HOVER EFFECTS ====== */


.gallery_cover:hover {
    padding-left: 10px;
}

.cards_cover:has(.card:hover) .card {
    filter: blur(3px) brightness(0.5);
}

.card {
    transition: transform .5s !important;
}

.card:hover {
    filter: none !important;
    transform: translateY(-30px) !important;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3), -15px -15px 30px rgba(0, 0, 0, 0.2);
    border-right: 1.5px var(--green) solid;
    border-bottom: 1.5px var(--green) solid;
    z-index: 6;
}