.faq {
    height: 100vh;
    display: flex;
    padding-bottom: 40vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../images/blurryback.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    z-index: 1;
}

.faq::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 20%; 
    background: linear-gradient(to bottom, var(--black), transparent);
    z-index: 2;
    pointer-events: none;
}

.faq::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 20%; 
    background: linear-gradient(to top, var(--black), transparent);
    z-index: 2;
    pointer-events: none;
}

.faq .title {
    position: relative;
    z-index: 100;
    align-self: start;
    margin-bottom: -10vh;
}

.faq_container {
    gap: 10vw;
    display: flex;
    margin-left: -15%;
    margin-top: 5vh;
  }

.right_container {
    width: 65vw;
    height: 100%;
    position: relative;
}

.question {
    z-index: 1000;
    position: relative;
    transition: .3s !important;
    background-color: #646a691b;
    padding: 4vh 5vw 4vh 8vw;
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
    transition: color 0.3s;
    margin-bottom: 5px;
    border-right: 1.5px solid #69be71;
}  

.left_container {
    width: 180%;
}

.left_container:hover ~ .right_container .welcome-text {
    opacity: 0;
}
  
.answer {
    font-size: 40px;
    color: var(--green);
    opacity: 0;
    visibility: hidden;
    font-weight: 700;
    position: absolute;
    text-transform: none;
    top: 0;
    left: 0; 
    width: 100%; 
    max-width: 600px; 
    white-space: normal; 
    word-wrap: break-word; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
}    

.answer.active {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
}
  
.word {
    display: inline-block;
    white-space: nowrap;
}
  
.char {
    display: inline-block;
    opacity: 0;
}
  
.space {
    display: inline-block;
    width: 0.5em;
}
  

/* ======  HOVER EFFECTS ====== */


.question:hover {
    z-index: 1000;
    position: relative;
    filter: none !important;
    transform: translateX(5vw);
    background-color: #69be71;
}

.left_container:has(.question:hover) .question {
    /* filter: blur(2px); */
    filter: brightness(0.3);
}
