.hero {
    width: 100vw;
    height: 130vh;
    padding: 0vh 10vw 5vh 10vw;
    text-transform: uppercase;
    gap: 10vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 15vh;
    font-size: var(--medium);
    font-weight: 300;
    position: fixed;
    top: 0;  
    z-index: 999; 
    background-color: transparent;
}

nav.scrolled {
    margin-left: -10vw;
    background-color: #1c1c1ca7; 
    backdrop-filter: blur(5px);
    padding: 0 5vw;
    width: 100%;
    height: 10vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.696);
}

.nav-wrapper {
    transition: all 0.3s ease;
}

.title {
    font-size: 70px;
    width: 40vw;
}

.hero_image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.hero_image img {
    z-index: 1;
    width: 65%; 
    height: auto;
    object-fit: contain;
}

.hero_image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(to top, var(--black) 4%, transparent 97%);
    z-index: 2; 
    pointer-events: none; 
}

.nav_links {
    display: flex;
    gap: 4vw;
}

.hero_link {
    display: flex;
    margin-top: -2vh;
    gap: 2vw;
    font-size: 18px;
    font-weight: 300;
}

.start {
    text-align: start;
}

.end {
    text-align: end;
}

.center {
    text-align: center;
}

.arrow_icon {
    margin-top: -2px;
    margin-left: -1.5vw;
    width: 22px;
    height: auto;
}

.logo_icon {
    width: 40px;
    height: auto;
}

.logo_convert {
    display: flex;
    gap: 10px;
    border-right: 10px solid transparent;
}

.phone {
    display: flex;
    gap: 10px;
}

.phone_icon {
    margin-top: -2px;
}

nav.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

/* for logo-hovering */
.tattoo-video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: opacity 0.4s ease;
  }
  
.tattoo-video-overlay video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.hero  .logo_convert {
    margin: -5vh -5vw;
    padding: 5vh 5vw;
}

.video-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1001;
}

.tattoo-video-overlay::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.813), #82ee8d5d);
    z-index: 2;
    pointer-events: none;
}
  
.video-caption .logo  {
    font-weight: 800;
    font-size: 64px;
}

.video-caption .subtitle {
    font-size: 62px;
    margin-top: 0.5rem;
    font-family: var(--italian-font);
    color: var(--light-green);
    text-transform: none;
}
  
.video-caption .logo_icon {
  animation: spin 2s linear infinite;
}

/* ======  HOVER EFFECTS ====== */


.nav_link:hover {
    color: var(--green);
    transform: translateY(5px);
    transition: all 0.2s;
}

.link:hover{
    padding-left: 20px;
}

.phone_number:hover {
    color: var(--green);
    transform: translateX(10px);
}

