.services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .title {
    align-self: start;
    margin-bottom: -5vh;
}

.services .grid-container {
    width: 50%;
    text-transform: none;
    gap: 2vh;
    display: flex; 
}

.num, .services_title  {
    opacity: (0.1);
    color: #808080;
    text-align: start;
    font-size: 24px;

}

.services .row {
    display: flex;
    position: relative;
    padding: 3vh 0vw;
}

.services_title {
    min-width: 30vw;
    margin-left: 10vw;
}

.pricing {
    position: absolute;
    top: 7.5vh;
    left: 11.5vw;
    font-size: 18px;
    color: var(--white);
    opacity: 0;
    visibility: hidden;
}
.cover_service_images {
    position: fixed;
    top: 55%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: opacity 0.4s ease;
  }

  .cover_service_images img {
    max-height: 60vh;
    max-width: 20vw;
    object-fit: cover;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.53);
    opacity: 0;
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.4s ease;
  }

  .cover_service_images.active {
    opacity: 1;
  }

  .cover_service_images.active img:first-child {
    opacity: 1;
    transform: translateX(20px);
    border-top: solid 1.5px var(--green);
  }

  .cover_service_images.active img:last-child {
    opacity: 1;
    transform: translateX(-20px);
    border-top: solid 1.5px var(--green);

  }

/* ======  HOVER EFFECTS ====== */


.row:hover .num {
    color: var(--white);
}

.row:hover .services_title {
    color: var(--green);
}

.row:hover .arrow_icon {
    transform: rotate(-90deg);
}

.row:hover .pricing {
    opacity: 1;
    visibility: visible;
}

