.services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .title {
    align-self: start;
    margin-bottom: -5vh;
}

.services .grid-container {
    width: 50%;
    text-transform: none;
    gap: 2vh;
    display: flex; 
}

.num, .services_title  {
    opacity: (0.1);
    color: #808080;
    text-align: start;
    font-size: 24px;

}

.services .row {
    display: flex;
    position: relative;
    padding: 3vh 0vw;
}

.services_title {
    min-width: 30vw;
    margin-left: 10vw;
}

.pricing {
    position: absolute;
    top: 7.5vh;
    left: 11.5vw;
    font-size: 18px;
    color: var(--white);
    opacity: 0;
    visibility: hidden;
}


/* ======  HOVER EFFECTS ====== */


.row:hover .num {
    color: var(--white);
}

.row:hover .services_title {
    color: var(--green);
}

.row:hover .arrow_icon {
    transform: rotate(-90deg);
}

.row:hover .pricing {
    opacity: 1;
    visibility: visible;
}

